<section id="home-section" class="hero">
  <div class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url(/assets/images/bg_1.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-md-12 ftco-animate text-center">
            <h1 class="mb-2"><%= t("home_page.we_serve_food_drink") %></h1>
            <h2 class="subheading mb-4"><%= t("home_page.ensure_the_quality") %></h2>
            <p><a href="#" class="btn btn-primary"><%= t("home_page.view_details") %></a></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row no-gutters ftco-services">
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-shipped"></span>
          </div>
          <div class="media-body">
            <h3 class="heading"><%= t("home_page.free_shipping") %></h3>
            <span><%= t("home_page.on_order_over_$100") %></span>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-diet"></span>
          </div>
          <div class="media-body">
            <h3 class="heading"><%= t("home_page.quality_assurance") %></h3>
            <span><%= t("home_page.product_well_package") %></span>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-award"></span>
          </div>
          <div class="media-body">
            <h3 class="heading"><%= t("home_page.superior_quality") %></h3>
            <span><%= t("home_page.quality_products") %></span>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-customer-service"></span>
          </div>
          <div class="media-body">
            <h3 class="heading"><%= t("home_page.support") %></h3>
            <span><%= t("home_page.24/7_support") %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-category ftco-no-pt">
  <div class="container">
    <div class="row justify-content-center mb-3 pb-3">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <div class="text text-center">
          <h2><%= t("categories.categories") %></h2>
          <p><%= t("home_page.protect_the_health") %></p>
          <p><%= link_to t("home_page.menu_here"), menu_path, class: "btn btn-primary" %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 mb-5 text-center">
        <ul class="product-category">
          <% @categories.each do |category| %>
            <li><%= link_to category.name, filter_path(category_id: category.id) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-3 pb-3">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <span class="subheading"><%= t("home_page.featured_products") %></span>
        <h2 class="mb-4"><%= t("home_page.our_newest_products") %></h2>
      </div>
    </div>
  </div>
  <div class="container">
    <% if @products.any? %>
      <div class="row">
        <%= render @products %>
        <div class="col-md-12 heading-section text-center ftco-animate">
          <%= link_to t("home_page.see_all"), menu_path, class: "mb-4" %>
        </div>
      </div>
    <% else %>
      <div class="row justify-content-center alert alert-danger">
        <h4 class="mb-4"><%= t("home_page.our_products_nil") %></h4>
      </div>
    <% end %>
  </div>
</section>

<hr>

<section class="ftco-section ftco-partner">
  <div class="container">
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"><img src="/assets/images/partner-1.png" class="img-fluid" alt="Colorlib Template"></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"><img src="/assets/images/partner-2.png" class="img-fluid" alt="Colorlib Template"></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"><img src="/assets/images/partner-3.png" class="img-fluid" alt="Colorlib Template"></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"><img src="/assets/images/partner-4.png" class="img-fluid" alt="Colorlib Template"></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"><img src="/assets/images/partner-5.png" class="img-fluid" alt="Colorlib Template"></a>
      </div>
    </div>
  </div>
</section>
