<div id="login-box">
  <div class="left">
    <h1 class="title"><%= t "log_in.log_in" %></h1>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= form_for :session, url: login_path do |f| %>
      <%= f.email_field :email, class: "text", placeholder: t("form.email") %>
      <%= f.password_field :password, class: "password", placeholder: t("form.password") %>
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span><%= t("log_in.remember_me") %></span>
      <% end %>
      <%= f.submit t("log_in.log_in").upcase, class: "btn btn-primary" %>
    <% end %>
    <p>
      <%= t "log_in.new_user" %>
      <%= link_to t("log_in.sign_up_now"), new_user_path %>
    </p>
  </div>

  <div class="right">
    <span class="loginwith"><%= t "sign_up.sign_in_with_social_network" %></span>
    <button class="social-signin facebook"><%= t "sign_up.log_in_with_facebook" %></button>
    <button class="social-signin google"><%= t "sign_up.log_in_with_google" %></button>
  </div>
</div>
