<%= stylesheet_link_tag "edit_user", media: "all", "data-turbolinks-track": true %>
<div class="card bg-light">
  <article class="card-body mx-auto">
    <h4 class="card-title mt-3 text-center"><%= t "form.forgot_password"%></h4>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><%= t "form.email"%></span>
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit t("form.send_reset_password").upcase, class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
    <div>
      <p class="text-center"><%= render "devise/shared/links" %></p>
    </div>
  </article>
</div>
