<table class="table">
  <thead class="thead-primary">
    <tr class="text-center">
      <th><%= t "images" %></th>
      <th><%= t "name" %></th>
      <th><%= t "price" %></th>
      <th><%= t "quantity" %></th>
      <th><%= t "total" %></th>
    </tr>
  </thead>
  <tbody>
    <% @carts.each do |item| %>
      <tr>
        <td>
          <%= check_thumbnail? item%>
        </td>
        <td class="product-name">
          <%= item.name %>
        </td>
        <td class="product-price">
          <%= number_to_currency(item.price, locale: :vi) %>
        </td>
        <td class="product-name">
          <%= session[:cart]["#{item.id}"] %>
        </td>
        <td>
          <%= number_to_currency(item.price*session[:cart]["#{item.id}"], locale: :vi) %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="3"></td>
      <td><%= t "orders.total_price" %></td>
      <td><%= number_to_currency(@total, locale: :vi) %></td>
    </tr>
  </tbody>
</table>
