<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body p-0">
          <div class="row pb-5 p-5">
            <table>
              <tr>
                <td class="col-md-3"><%= t "orders.fullname" %>:</td>
                <td class="col-md-6"><%= @order.name %></td>
              </tr>
              <tr>
                <td class="col-md-3"><%= t "orders.phone" %>:</td>
                <td class="col-md-6"><%= @order.phone %></td>
              </tr>
              <tr>
                <td class="col-md-3"><%= t "orders.address" %>:</td>
                <td class="col-md-6" rowspan="2"><%= @order.address %></td>
              </tr>
              <tr>
                <td class="col-md-3">&nbsp;</td>
              </tr>
              <tr>
                <td class="col-md-3"><%= t "orders.created_order" %>:</td>
                <td class="col-md-6"><%= l @order.created_at, format: :own %></td>
              </tr>
                <td class="col-md-3"><%= t "orders.status" %>:</td>
                <td class="col-md-6">
                  <span class="badge <%= t "class.#{@order.status}" %>">
                    <%= t("status_order.#{@order.status}") %>
                  </span>
                </td>
              </tr>
            </table>
            <div class="col-md-6 text-right">
              <% if can? :cancel, @order %>
                <%= link_to cancel_user_order_path(current_user, @order),
                    method: :put, data: { confirm: t("you_sure") } do
                %>
                  <button type="button" class="btn btn-danger btn-sm mb-4">
                    <i class="fa fa-times" aria-hidden="true"><%= t "orders.cancel" %></i>
                  </button>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="row p-5">
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th class="border-0 text-uppercase small font-weight-bold"></th>
                    <th class="border-0 text-uppercase small font-weight-bold"><%= t "orders.product_name" %></th>
                    <th class="border-0 text-uppercase small font-weight-bold"><%= t "orders.quantity" %></th>
                    <th class="border-0 text-uppercase small font-weight-bold"><%= t "orders.price" %></th>
                    <th class="border-0 text-uppercase small font-weight-bold"><%= t "orders.total_price" %></th>
                  </tr>
                </thead>
                <tbody>
                  <%= render partial: "order_detail", collection: @order_details %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="d-flex flex-row-reverse bg-light text-dark p-4">
            <div class="py-3 px-5 text-right">
              <div class="mb-2"><%= t "orders.total" %></div>
              <div class="h2 font-weight-light"><%= number_to_currency(@total, locale: :vi) %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5 mb-5"></div>
</div>

