<% @products.each do |product| %>
  <div class="card card-inside">
    <% if product.thumbnail.present? %>
      <%= link_to image_tag(product.display_thumbnail, class: "style_image"), admin_product_path(product) %><br>
    <% else %>
      <%= link_to (gravatar_for product, size: Settings.gravatar.size_198,
          class: "style_image"), admin_product_path(product) %><br>
    <% end %>
    <div class="card-text card-margin">
      <%= link_to product.name, admin_product_path(product), class: "style_link"%>
      <p class="card-p"><%= t "page_index_product_admin.price" %><%= link_to product.price, "#", class: "card-p" %></p>
      <p class="card-p"><%= t "page_index_product_admin.quantity" %><%= link_to product.quantity, "#", class: "card-p" %></p>
    </div>
  </div>
<% end %>
