<!-- START header -->
<div class="py-1 bg-primary">
  <div class="container">
    <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
      <div class="col-lg-12 d-block">
        <div class="row d-flex">
          <div class="col-md pr-4 d-flex topper align-items-center">
            <div class="icon mr-2 d-flex justify-content-center align-items-center">
              <span class="icon-phone2"></span>
            </div>
            <span class="text">+ 1235 2355 98</span>
          </div>
          <div class="col-md pr-4 d-flex topper align-items-center">
            <div class="icon mr-2 d-flex justify-content-center align-items-center">
              <span class="icon-paper-plane"></span>
            </div>
            <span class="text">youremail@email.com</span>
          </div>
          <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
            <span class="text">
              <ul class="icon-inline">
                <li>
                  <%= link_to locale: :vi do %>
                    <%= image_tag "/assets/images/icons-vi.png", class: "icons-lang" %>
                  <% end %>
                </li>
                <li>
                  <%= link_to locale: :en do %>
                    <%= image_tag "/assets/images/icons-en.png", class: "icons-lang" %>
                  <% end %>
                </li>
              </ul>
             </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <%= link_to t("food_drink"), root_path, class: "navbar-brand" %>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <%= link_to t("home"), root_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t("menu") %>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="shop.html"></a>
            <a class="dropdown-item" href="wishlist.html"></a>
            <a class="dropdown-item" href="product-single.html"></a>
            <a class="dropdown-item" href="cart.html"></a>
            <a class="dropdown-item" href="checkout.html"></a>
          </div>
        </li>
        <li class="nav-item"><a href="about.html" class="nav-link"><%= t("about") %></a></li>
        <li class="nav-item"><a href="blog.html" class="nav-link"><%= t("blog") %></a></li>
        <li class="nav-item"><a href="contact.html" class="nav-link"><%= t("contact") %></a></li>
        <li class="nav-item cta cta-colored">
          <a href="cart.html" class="nav-link">
            <span class="icon-shopping_cart"></span>[0]
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- END header -->
