<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title nav_title_cus">
      <%= link_to t("food_drink"), admin_root_path, class: "site_title"  %>
    </div>
    <div class="clearfix"></div>
    <!-- menu profile quick info -->
    <div class="profile clearfix">
      <div class="profile_pic">
        <%= image_tag("avatar.png", class: "img-circle profile_img") %>
      </div>
      <div class="profile_info">
        <span><%= t "welcome" %>,</span>
        <h2><%= show_name %></h2>
      </div>
    </div>
    <!-- /menu profile quick info -->
    <br/>
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3><%= t "manager_orders" %></h3>
        <ul class="nav side-menu">
          <li>
            <a>
              <i class="fa fa-list-alt"></i>
              <%= t "manager_orders" %>
              <span class="fa fa-chevron-down" aria-hidden="true"></span>
            </a>
            <ul class="nav child_menu">
              <li><%= link_to t("orders.all"), admin_orders_path %></li>
              <li><%= link_to t("status_order.open"), admin_status_path(status: :open) %></li>
              <li><%= link_to t("status_order.confirmed"), admin_status_path(status: :confirmed) %></li>
              <li><%= link_to t("status_order.shipping"), admin_status_path(status: :shipping) %></li>
              <li><%= link_to t("status_order.completed"), admin_status_path(status: :completed) %></li>
              <li><%= link_to t("status_order.cancelled"), admin_status_path(status: :cancelled) %></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="menu_section">
        <h3><%= t "manager_products" %></h3>
        <ul class="nav side-menu">
          <li>
            <a>
              <i class="fa fa-product-hunt" aria-hidden="true"></i>
              <%= t "product.products" %>
              <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
              <li><%= link_to t("product.all_products"), admin_products_path %></li>
              <li><%= link_to t("product.categories"), "#" %></li>
              <li><%= link_to t("product.add_product"), new_admin_product_path %></li>
            </ul>
          </li>
        </ul>
        <ul class="nav side-menu">
          <li>
            <a>
              <i class="fa fa-bar-chart" aria-hidden="true"></i>
              <%= t "manager_analytic" %>
              <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
              <li><%= link_to t("analytic_week"), "#" %></li>
              <li><%= link_to t("analytic_month"), "#" %></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="menu_section">
        <h3><%= t "manager_accounts" %></h3>
        <ul class="nav side-menu">
          <li>
            <a>
              <i class="fa fa-users" aria-hidden="true"></i>
              <%= t "account.accounts" %>
              <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
              <li><%= link_to t("account.accounts"), "#" %></li>
              <li><%= link_to t("account.blocked"), "#" %></li>
            </ul>
          </li>
          <li><a href=""><i class="fa fa-home" aria-hidden="true"></i><%= t "back_home" %></a></li>
        </ul>
      </div>
    </div>
    <!-- /sidebar menu -->
  </div>
</div>
<div class="top_nav">
  <div class="nav_menu">
    <div class="nav toggle">
      <a id="menu_toggle"><i class="fa fa-bars"></i></a>
    </div>
    <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right style-language">
      <span class="text">
        <ul style="list-style-type: none; ">
          <li>
            <%= link_to locale: :vi do %>
              <%= image_tag "/assets/images/icons-vi.png", class: "icons-lang" %>
            <% end %>
          </li>
          <li>
            <%= link_to locale: :en do %>
              <%= image_tag "/assets/images/icons-en.png", class: "icons-lang" %>
            <% end %>
          </li>
        </ul>
      </span>
    </div>
    <nav class="nav navbar-nav">
      <ul class=" navbar-right">
        <li class="nav-item dropdown open dropdown_right">
          <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
            <%= image_tag "avatar.png" %>
          </a>
          <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item"  href="javascript:;">
              <span class="badge bg-red pull-right"></span>
              <span><%= show_name %></span>
            </a>
            <%= link_to(raw("<i class='fa fa-sign-out pull-right'></i>")<< t("logout"), "#", {class: "dropdown-item"}) %>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
