<!-- START header -->
<div class="py-1 bg-primary">
  <div class="container">
    <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
      <div class="col-lg-12 d-block">
        <div class="row d-flex">
          <div class="col-3 pr-2 d-flex topper align-items-center">
            <div class="icon mr-2 d-flex justify-content-center align-items-center">
              <span class="icon-phone2"></span>
            </div>
            <span class="text">+ 1235 2355 98</span>
          </div>
          <div class="col-7 pr-8 d-flex topper align-items-center d-flex flex-row-reverse">
            <%= render "shared/filter_products_by_name" %>
          </div>
          <div class="col-2 pr-2 d-flex topper align-items-center text-lg-right">
            <span class="text">
              <ul class="icon-inline">
                <li>
                  <%= link_to locale: :vi do %>
                    <%= image_tag "/assets/images/icons-vi.png", class: "icons-lang" %>
                  <% end %>
                </li>
                <li>
                  <%= link_to locale: :en do %>
                    <%= image_tag "/assets/images/icons-en.png", class: "icons-lang" %>
                  <% end %>
                </li>
              </ul>
             </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <%= link_to t("food_drink"), root_path, class: "navbar-brand" %>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <%= link_to t("home"), root_path, class: "nav-link" %>
        </li>
        <li class="nav-item"><%= link_to t("menu"), menu_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to t("about"), about_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to t("blog"), blog_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to t("contact"), contact_path, class: "nav-link" %></li>
        <li class="nav-item cta cta-colored">
          <a href="#" class="nav-link">
            <span class="icon-shopping_cart"></span>[0]
          </a>
        </li>
        <li class="nav-icon dropdown">
          <%= link_to "#", class: "dropdown-toggle", "data-toggle": "dropdown" do %>
            <img src="/assets/images/avatar-default.png" class="avatar-default">
            <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <% if logged_in? %>
              <li><%= link_to t("profile"), "#", class: "dropdown-item" %></li>
              <li><%= link_to t("setting"), "#", class: "dropdown-item" %></li>
              <li>
                <%= link_to t("orders.history_orders"), user_orders_path(current_user), class: "dropdown-item" %>
              </li>
              <li>
                <%= button_to t("log_out"), logout_path, method: :delete, class: "dropdown-item" %>
              </li>
            <% else %>
              <li><%= link_to t("sign_up.sign_up"), new_user_path, class: "dropdown-item" %></li>
              <li><%= link_to t("log_in.log_in"), login_path, class: "dropdown-item" %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- END header -->
