<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title yield :title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="/assets/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/admin/fonts/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/admin/css/custom.min.css" rel="stylesheet">
    <link href="/assets/admin/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/assets/admin/css/toastr.css" rel="stylesheet"/>
    <link href="/assets/admin/css/custom.css" rel="stylesheet"/>
    <%= stylesheet_link_tag :admin %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>
  <body class="nav-md" >
    <div class="container body">
      <div class="main_container">
          <%= render "layouts/header_admin" %>
          <div class="right_col" role="main">
              <% flash.each do |message_type, message| %>
                <div class="alert alert-<%= message_type %>"><%= message %></div>
              <% end %>
              <%= yield %>
          </div>
        </div>
      </div>
    <%= javascript_pack_tag :application %>
    <script src="/assets/admin/js/jquery.min.js"></script>
    <script src="/assets/admin/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/admin/js/custom.min.js"></script>
    <script src="/assets/admin/js/jquery.dataTables.min.js"></script>
    <script src="/assets/admin/js/dataTables.bootstrap.min.js"></script>
    <script src="/assets/admin/js/toastr.js"></script>
  </body>
</html>
